<div class="container">
  <div class="row ">
    <div class="col-12">
      <h1>Добро пожаловать</h1>
      <p class="p">Здесь только лучший курс</p>
      
    </div>
    <div class="col-12">
     <div class="cart">
        <img src="/images.png" alt="asgh" />
      </div>
      
    </div>

  </div>
</div>